body {
    background: linear-gradient(90deg, rgba(85, 226, 103, 0) 0%, rgba(1, 168, 38, 1) 50%, rgba(51, 142, 58, 0) 96%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.container {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}


.counter {
    width: 28rem;
    margin: 0 auto;
    border: 5px solid white;
    padding: 1rem;
    background: radial-gradient(circle, rgba(0, 1, 0, 0.9225913323782235) 49%, rgba(0, 238, 56, 0.9483792979942693) 96%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.counter > * {
    margin-bottom: 2rem;

}
#count{
    font-size: 6rem;
}
.buttons button{
    padding:1rem ;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button.subtract{
    background-color: red;
}
button.reset{
    background-color: white;
    color: black;
}
button.add{
    background-color: green;
   
}
hr{
    border: none;
    border-top: 1px solid white;
    width: 100%;
    margin: 2rem 0;
}
footer{
    display: flex;
    justify-content: center;
    font-size: large;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
