body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:linear-gradient(to bottom right,rgb(4, 12, 49),rgba(5, 29, 125, 0.592),rgb(4, 12, 49));
}
h1,h2,h3,h4,h5,p,span {
    color: white;
}
.header .logo {
    height: 70px;
    float: left;
    padding: 10px 20px;
}

.header {
    background-color: rgb(17, 16, 31);
    position: absolute;
    width: 100%;
    z-index: 100;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(17, 16, 31);
}

.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    
}

.header ul a:hover {
    background-color: rgb(35, 35, 54);
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max height .3s ease-out;
    position: static;
}

.header .menu-icon {
    padding: 20px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background-color: white;
    display: block;
    width: 15px;
    height: 2px;
    position: relative;
    transition: background-color .3s ease-out;
}

.header .menu-icon .nav-icon::before {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    position: absolute;
    top: 5px;

}

.header .menu-icon .nav-icon::after {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .3s ease-out;
    position: absolute;
    top: -5px;
}

.header .menu-btm {
    display: none;
}

.header .menu-btm:checked~.menu {
    max-height: 250px;
}

.header .menu-btm:checked~.menu-icon .nav-icon {
    background-color: transparent;
}

.header .menu-btm:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btm:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width:48em) {
    .header li {
        float: left;
        position: relative;
        
    }

    .header .menu {
        clear: none;
        float: right;
        text-align: center;
        max-height: 58px;
        
    }

    .header .menu-icon {
        display: none;
    }
    

}



.sfondo-index img {
    
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 20%;
}
.desc h1{
    text-decoration: underline;
    text-underline-offset: 0.5em;
}




footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 16, 31);
    color: white;
    text-align: center
}

@font-face{
    src: url(/Assest/font/EB_Garamond/);
    font-family: 'EB_Garamond',sans-serif;
}
.h1-title{
    font-family: 'EB Garamond', serif;
    text-align: center;
}


.div-input{
    border: 0;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 5%;
    align-content: center;
    display: block;
    text-align: center;
    

}
.cont-tit{
    display: block;
    text-align: center;
}
.container-c{
    display: grid;
    grid-template-columns:1fr 2fr ;
    max-height: 1000px;
    
    max-width: 1000px;
    position: relative;
    width: 100%
}
.info{
    position: relative;
    background-color: rgb(17, 16, 31);
    padding: 40px;
}
.profile-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid white; 
}
.profile-text .img-bx{
    position: relative;
    width: 90px;
    height:100px;
    border-radius: 100%;
    overflow: hidden;


}
.profile-text .img-bx img{
position: absolute;
top: 0;
left: 0;
width: 80%;
height: 90%;
object-fit: cover;
 

}
.profile-text h1{
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4em;
    
    } 
    .profile-text h1 span{
        font-size: 0.8em;

    }
.contact{
    padding-top: 40px;
}
.title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.contact ul{
    position: relative;
}
.contact ul li{
    position: relative;
    margin: 1opx 0;
    list-style: none;
    cursor: pointer;
}
.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    
}

.contact .education li{
    margin-bottom: 15px;


}

.contact .education h4{
    font-weight: 300;
    text-transform: uppercase;
    color: white;

}
.contact .education h5{
    font-weight: 500;
    color: white;

}
.desc{
    position: relative;
    padding: 40px;
   
}
.about{
    margin-bottom: 50px;

}
.title2{
    text-transform: uppercase;
    letter-spacing: 1;
     margin-bottom: 10px;


}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .years_company{
    min-width: 150px;

}
.about .box .years_company h5{
    text-transform: uppercase;
    font-weight: 600;
}
.about .box text h4{
    text-transform: uppercase;
    font-size: 16px;
}
.skills.box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    font-weight: 500;
}
.mail{
    font-size: x-small;
}
.Linkedin{
     padding-left: 15px;
}

a{
    color: white;
    text-decoration: none;
      
}
.linkedin{
    color: brownss;
}
.btn-primary{
    background-color: rgb(17, 16, 31);
    border-radius: 30%;
    margin-left:  38%;  
    
}
.btn-primary:hover { 
    background-color: rgb(35, 35, 54)
}
.card-title{
    text-align: center;
    text-transform: uppercase;
    
}