*{  
    margin:0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}
body{
    background: rgb(34,95,201);
    background: linear-gradient(90deg, rgba(34,95,201,1) 47%, rgba(133,187,217,0.9584245076586433) 57%);

}
.button:hover{
        background-color:rgba(0, 132, 255, 0.766) ;
}
.card{
    width: 80%;
    height: 500px;
    max-width: 500px;
    background-image: url(./Immagini/cielo.jpeg);
    color: white;
    background-size: cover;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.search input{
    border:0;
    outline: 0;
    background: rgb(18, 58, 152);
    color: white;
    padding: 10px 25px ;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right:15px ;
    font-size: 20px; 
}
.search button{
    border:0;
    outline: 0;
    background: rgb(18, 58, 152);
    color: white;
    border-radius: 30px;
    width: 80px;
    height: 30px ;
    cursor: pointer;
}
.weather-icon{
    
    width: 120px;
    border: 0;
    margin-top: 20px;
}
.weather h1{
    font-size: 60px;
    font-weight: 500;

}
.weather h2{
 padding-t%;
    font-weight: 30px;
    margin-top: 10px;

}

.details{
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
    padding:0,20px;
    margin-top:50px ;
}
.col{
    display: flex;
    align-items:center;
    text-align: left;
    height:100px;
    margin: ;

    
  
    

}
.wind{
    padding-right: 25px;
}
.col img{
    display: flex;
    padding: 30px;
    width: 100px;
    margin-right:0px ;


}.humidity,.wind{
    font-size: 20px;
    margin-top: -5px;

}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px; 
    display: none;
}
footer{
    display: flex;
    justify-content: center;
    font-size: large;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.title-Weather{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: -50px;
    text-transform: uppercase;
    color: rgb(7, 27, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: larger;
}
@media only screen and (max-width: 767px){
    ::placeholder{
        font-size: 12px;
        letter-spacing: 1px;
        text-align: left;
        width: 200px;
    }
}
@media only screen and (min-width: 768px){
    ::placeholder{
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        width: 200px;
    }

}